* {
  font-size: 16px;
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: end;
  align-items: end;
}

.letsTalk {
  right: 60px;
  position: relative;
}

.app-img-balao {
  width: 100px;
}

.app-text-letstalk {
  position: absolute;
  text-align: center;
  font-weight: 700;
  z-index: 1;
  top: 23px;
}

.app-btn {
  border-radius: 100%;
  padding: 0;
  border: none;
  margin-right: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 1px rgba(128, 128, 128, 0.664);
  cursor: pointer;
}

.app-img {
  width: 80px;
  border-radius: 100%;
}

.react-chatbot-kit-chat-container {
  margin: 20px;
  margin-left: 0;
}

.react-chatbot-kit-chat-header {
  background-color: #376B7E;
  height: 3px;
  color: white;
}

a {
  color: white;
}

.react-chatbot-kit-chat-message-container {
  background-color: #bebebe;
  font-size: 16px;
}

.react-chatbot-kit-chat-bot-avatar-icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #376B7E;
}

.react-chatbot-kit-user-chat-message {
  font-size: 16px;
  color: black;
}

.options-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-bottom: 40px;
}

.option-btn {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #92a7af;
  box-shadow: 2px 2px 1px grey;
}

.option-btn:hover {
  border: 2px solid #376B7E;
  color: white;
  background-color: #376B7E;
  scale: 1.07;
}